<html lang="en">
<head>
	<title>Steam A.S.S.</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
            <h1 style="color:white;font-size:50px;font-family: comic sans ms;text-align:center">Steam Achievement Secret Santa</h1><br>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">User</th>
								<th class="column2">Game</th>
								<th class="column3">Achievement</th>
								<th class="column4"> </th>
							</tr>
						</thead>
						<tbody>
                            <! -- Start of Generated Table -- >
                            {% for gamer in gamers %}
                            {% if gamer.complete %}
                            <tr class="complete" onClick="document.location.href='https://steamcommunity.com/profiles/{{gamer.steamID}}/stats/{{gamer.gameID}}'">
                                <td class="column1">
                                    <br>
                                    <img src="{{gamer.avatar}}" alt="" />
                                    <br> {{gamer.username}} <br><br>
                                </td>
                                <td class="column2">
                                    <br>
                                    <img src="{{gamer.gameIcon}}" />
                                    <br> {{gamer.gameName}} <br><br>
                                </td>
                                <td class="column3">
                                    <br>
                                    <img src="{{gamer.iconComplete}}" width="64" />
                                    <br><br>
                                </td>
                                <td class="column4">
                                    <b>{{gamer.name}}</b><br>
                                    {{gamer.description}}
                                </td>
                            {% else %}
                            <tr onClick="document.location.href='https://steamcommunity.com/profiles/{{gamer.steamID}}/stats/{{gamer.gameID}}'">
                                <td class="column1">
                                    <br>
                                    <img src="{{gamer.avatar}}" alt="" />
                                    <br> {{gamer.username}} <br><br>
                                </td>
                                <td class="column2">
                                    <br>
                                    <img src="{{gamer.gameIcon}}" />
                                    <br> {{gamer.gameName}} <br><br>
                                </td>
                                <td class="column3">
                                    <br>
                                    <img src="{{gamer.iconIncomplete}}" width="64" />
                                    <br><br>
                                </td>
                                <td class="column4">
                                    <b>{{gamer.name}}</b><br>
                                    {{gamer.description}}
                                </td>
                            {% endif %}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <a href="static/2024.html" style="text-align:center;display:block;">2024 Results</a>
                <a href="static/2023.html" style="text-align:center;display:block;">2023 Results</a>
                <a href="static/2022.html" style="text-align:center;display:block;">2022 Results</a>
                <a href="static/2021.html" style="text-align:center;display:block;">2021 Results</a>
            </div>
        </div>
    </div>
</body>
</html>
